       <div>
          <%= form.label :line_1, style: "display: block" %>
          <%= form.text_field :line_1, class:"w-full", placeholder: "Start typing your address, e.g. 123 Main...", data: { "map-search-target": "line1Field" }  %>
        </div>

        <div>
          <%= form.label :line_2, style: "display: block" %>
          <%= form.text_field :line_2, class:"w-full",  autocomplete: "address-line2"  %>
        </div>

        <div>
          <%= form.label :line_3, style: "display: block" %>
          <%= form.text_field :line_3, class:"w-full",  autocomplete: "address-level3"  %>
        </div>

        <div>
          <%= form.label :line_4, style: "display: block" %>
          <%= form.text_field :line_4, class:"w-full"  %>
        </div>

        <div>
          <%= form.label :city, style: "display: block" %>
          <%= form.text_field :city, class:"w-full",  autocomplete: "address-level2"  %>
        </div>

        <div>
          <%= form.label :region, style: "display: block" %>
          <%= form.text_field :region, class:"w-full",  autocomplete: "address-level1"  %>
        </div>

        <div>
          <%= form.label :country, style: "display: block" %>
          <%= form.text_field :country, class:"w-full",  autocomplete: "country-name"  %>
        </div>

        <div>
          <%= form.label :postal_code, style: "display: block" %>
          <%= form.text_field :postal_code, class:"w-full",  autocomplete: "postal-code"  %>
        </div>

        <div>
          <%= form.label :latitude, style: "display: block" %>
          <%= form.text_field :latitude, class:"w-full", data: { "map-search-target": "latitudeField", "map-drag-target": "latitudeField" }  %>
        </div>

        <div>
          <%= form.label :longitude, style: "display: block" %>
          <%= form.text_field :longitude, class:"w-full", data: { "map-search-target": "longitudeField", "map-drag-target": "longitudeField" }  %>
        </div>

        <div>
          <%= form.label :full_address, style: "display: block" %>
          <%= form.text_field :full_address, class:"w-full"  %>
        </div>