<div id="<%= dom_id address %>">
  <p>
    <strong>Customer:</strong>
    <%= address.customer_id %>
  </p>

  <p>
    <strong>Attention:</strong>
    <%= address.attention %>
  </p>

  <p>
    <strong>Line 1:</strong>
    <%= address.line_1 %>
  </p>

  <p>
    <strong>Line 2:</strong>
    <%= address.line_2 %>
  </p>

  <p>
    <strong>Line 3:</strong>
    <%= address.line_3 %>
  </p>

  <p>
    <strong>Line 4:</strong>
    <%= address.line_4 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= address.region %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= address.postal_code %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= address.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= address.longitude %>
  </p>

  <p>
    <strong>Full address:</strong>
    <%= address.full_address %>
  </p>

</div>
