
  <tr>
    <td>
      <%= address.customer.name %>
    </td>

    <td>
      <%= address.attention %>
    </td>

    <td>
      <%= address.line_1 %>
    </td>

    <td>
      <%= address.line_2 %>
    </td>

    <td>
      <%= address.line_3 %>
    </td>

    <td>
      <%= address.line_4 %>
    </td>

    <td>
      <%= address.city %>
    </td>

    <td>
      <%= address.region %>
    </td>

    <td>
      <%= address.country %>
    </td>

    <td>
      <%= address.postal_code %>
    </td>

    <td>
      <%= address.latitude %>
    </td>

    <td>
      <%= address.longitude %>
    </td>

    <td>
      <%= link_to "Edit", edit_address_path(address) %> 
    </td>

  </tr>
