

  <div class="grid grid-cols-2 gap-4 w-full">
    <%= form_with(model: address) do |form| %>
      <% hide_find_address_on_edit_css = form.object.persisted? ? "hidden" : "" %>
      <% hide_secondary_inputs_on_new_css = form.object.persisted? ? "" : "hidden" %>
      <%= render "form_errors", address: address %>
      <div>
        <%= form.label :customer_id, style: "display: block" %>
        <%= form.select :customer_id,Customer.all.map { |c| [c.name, c.id] }, class:"w-full"  %>
      </div>

      <div>
        <%= form.label :attention, style: "display: block" %>
        <%= form.text_field :attention, class:"w-full" %>
      </div>

      <div class="<%= hide_find_address_on_edit_css %>">
        <%= form.label :find_address, style: "display: block" %>
        <%= form.text_field :find_address, class:"w-full", placeholder: "Start typing your address, e.g. 123 Main...", autocomplete:"address-line1"  %>
      </div>

      <div data-map-search-target="manualEntry" class="<%= hide_find_address_on_edit_css %>">
        <button class="text-gray-900 underline text-blue-600" data-action="click->map-search#openManualEntry">Enter an address manually</button>
      </div>

      <div data-map-search-target="secondaryInputs" class="grid grid-cols-1 <%= hide_secondary_inputs_on_new_css %>">
        <%= render "address_form_fields", form: form %>
      </div>
      <div>
        <%= form.submit %>
      </div>
    <% end %>
    <div class="">
    <!-- Visual confirmation map -->
      <% if address.persisted? %>
        <div id="map" class="none w-full h-96 mb-6"></div>
      <% else %>
        <div data-map-search-target="minimapContainer" id="minimap-container" class="none w-full h-96 mb-6"></div>
      <% end %>
    </div>    
  </div>
