<h1>Editing address</h1>

<div data-controller="map-drag" data-map-drag-longitude-value="<%= @address.longitude || 0 %>", data-map-drag-latitude-value="<%= @address.latitude || 0 %>">
  <%= render "form", address: @address %>
</div>

<br>

<div>
  <%= link_to "Show this address", @address %> |
  <%= link_to "Back to addresses", addresses_path %>
</div>
